
<footer class="m-4 rounded-2xl border border-white/10 bg-white/5 backdrop-blur-md">
    <div class="max-w-7xl mx-auto px-6 py-5 flex flex-col md:flex-row items-center justify-between gap-4">
      <span class="text-sm text-center md:text-left text-gray-200">© 2026 Abel Amarilla.™ Casi todos los derechos reservados.
    </span>
    <ul class="flex gap-6 text-sm">
        <li>
            <a href="#sobre-mi" class="hover:text-blue-500 transition-colors duration-300">Sobre Mi</a>
        </li>
        <li>
            <a href="#contacto" class="hover:text-blue-500 transition-colors duration-300">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
